<!DOCTYPE html>
<html>
<!--
    Silly Ramen Obliterates Frog
-->
<head>

</head>
<body>
    <h1>WHO WON?</h1>
    <h2>County Name: {{countyName}}</h2>
    <h2>State Name: {{stateName}}</h2>
    <h3>Your choices are: </h3>
    <div id="replace">
        <button id="a">{{a}}</button></br>
        <button id="b">{{b}}</button></br>    
        <button id="c">{{c}}</button></br>
        <button id="d">{{d}}</button></br>        
    </div>

    <script src="../static/js/game.js"></script>
</body>
</html>